= content_for :header do
  | Подтверждение

= content_for :subheader do
  | Переслать инструкции для подтверждения

= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|

  = render "devise/shared/input", form: f, field: :email, icon: "envelope",
    props: { placeholder: "Email", autofocus: true, type: :email,
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) }

  = f.submit "Переслать", class: %w( btn btn-primary btn--round )
