= content_for :header do
  | Регистрация

= content_for :subheader do
  | Создайте новый аккаунт

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

  = render "devise/shared/input", form: f, field: :full_name, icon: "user",
    props: { placeholder: "ФИО", autofocus: true }

  = render "devise/shared/input", form: f, field: :email, icon: "envelope",
    props: { placeholder: "Email",
    type: :email }

  = render "devise/shared/input", form: f, field: :password, icon: "lock",
    props: { placeholder: "Пароль" + (" (минимум #{@minimum_password_length} символов)" if @minimum_password_length).to_s,
      type: :password }

  = render "devise/shared/input", form: f, field: :password_confirmation, icon: "lock",
    props: { placeholder: "Пароль еще раз",
      type: :password }

  = f.submit "Зарегистрироваться", class: %w( btn btn-primary btn--round )
