.container.m-t-3.p-t-1#search-top
  h1 Поиск по '#{@query}'

.search.m-b-3
  .container
    - if @result_by_categories.any?
      .row.p-b-2
        = render @result_by_categories
    - else
      h4.m-t-3 По Вашему запросу ничего не найдено
