.form-group.m-b-2(class=("has-danger" if resource.errors.key? field))
  .form-control__icon__wrapper
    = form.text_field field, props.merge(class: %w( form-control form-control--round ))
    label.form-control__icon(for=("#{resource_name}_#{field}")): i.fa(class=("fa-" + icon))
  - resource.errors.full_messages_for(field).each do |m|
    .form-control-feedback= m
