.registration-links
  - if controller_name != "sessions"
    = link_to "Войти, если уже есть аккаунт", new_session_path(resource_name)
    br
  - if devise_mapping.registerable? && controller_name != "registrations"
    = link_to "Зарегистрироваться, если нет аккаунта", new_registration_path(resource_name)
    br
  - if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations"
    = link_to "Забыли пароль?", new_password_path(resource_name)
    br
  - if devise_mapping.confirmable? && controller_name != "confirmations"
    = link_to "Не пришло письмо для подтверждения?", new_confirmation_path(resource_name)
    br
  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = link_to "Войти с помощью #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
      br
