= content_for :header do
  | Забыли пароль?

= content_for :subheader do
  | Выслать инструкции для восстановления

= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|

  = render "devise/shared/input", form: f, field: :email, icon: "envelope",
    props: { placeholder: "Email", autofocus: true, type: :email }

  = f.submit "Отправить", class: %w( btn btn-primary btn--round )
