- if partners.any?
  .partners
    .container
      .carousel.slide#carousel-partners(data-ride="carousel")
        .carousel-inner
          - partners.each_slice(4).with_index do |slice, i|
            .carousel-item(class=(i == 0 ? "active" : ""))
              .row
                - slice.each do |partner|
                  .col-xs-12.col-sm-6.col-lg-3
                    a.partner(href=partner.link target="_blank")
                      img.partner__image(src=partner.logo alt=partner.name title=partner.name)
                - (4 - slice.size).times do
                  .col-xs-12.col-sm-6.col-lg-3
                    .partner
        a.left.carousel-control(href="#carousel-partners" data-slide="prev")
          span.icon-prev
        a.right.carousel-control(href="#carousel-partners" data-slide="next")
          span.icon-next
