- if slides.any?
  .slides
    .container
      .carousel.slide#carousel-slides(data-ride="carousel")
        ol.carousel-indicators
          - slides.each_with_index do |slide, i|
            li(data-target="#carousel-slides" data-slide-to=i class=(i.zero? ? "active" : ""))
        .carousel-inner
          - slides.each_with_index do |slide, i|
            .carousel-item(class=(i == 0 ? "active" : ""))
              a(href=slide.link)
                img(src=slide.img alt=slide.title title=slide.title)
