div(class=preorder.background)
  .container.p-t-2
    .row.p-b-2
      .col-xs-12
        .h2.category-label= preorder.name
        .m-y-2
          = render "preorders/timer", preorder: preorder, color: false
        == preorder.description
      = render preorder.products
