- if preorder.current?
  h5 До конца предзаказа
  .product__preorder-counter(data-till=preorder.finish class=("text-danger" if color))
- if preorder.upcoming?
  h5 До начала предзаказа
  .product__preorder-counter(data-till=preorder.finish class=("text-warning" if color))