= content_for :header do
  | Вход

= content_for :subheader do
  | Войдите в свой аккаунт

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

  = render "devise/shared/input", form: f, field: :email, icon: "envelope",
    props: { placeholder: "Email", autofocus: true, type: :email }

  = render "devise/shared/input", form: f, field: :password, icon: "lock",
    props: { placeholder: "Пароль", type: :password }

  - if devise_mapping.rememberable?
    .form-group.m-b-2: .form-check
      label.form-check-label
        = f.check_box :remember_me, class: "form-check-input"
        | Запомнить меня

  = f.submit "Войти", class: %w( btn btn-primary btn--round )
