@import "variables";

$enable-flex: true;
$enable-transitions: true;
$brand-primary: $active-color;
$font-family-sans-serif: "Gilroy", sans-serif;
$navbar-padding-y: 1rem;

$carousel-control-width: 50px;
$carousel-control-color: #000;
$carousel-control-font-size: 50px;
$carousel-control-sm-up-size: 50px;


@import "bootstrap";

.btn {
  &--round {
    padding: 10px 22px;

    text-transform: uppercase;

    border-radius: 10em;

    font-weight: bold;
  }
}

.form-control {
  &--round {
    padding: 8px 30px;

    border-width: 2px;
    border-radius: 10em;
  }

  &__icon {
    position: absolute;
    top: 8px;
    right: 30px;

    width: 16px;

    text-align: center;

    color: $form-control-color;

    &__wrapper {
      position: relative;
    }
  }

  &-feedback {
    margin-left: 30px;
  }
}

.rotate {
  transform: rotate(0);

  animation: rotate-animation 1s infinite linear;
}

@keyframes rotate-animation {
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 992px) {
  .col-lg-1-dot-5 {
    max-width: 12.5%;

    flex: 0 0 12.5%;
  }

  .col-lg-4-dot-5 {
    max-width: 37.5%;

    flex: 0 0 37.5%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2-dot-4 {
    max-width: 20%;

    flex: 0 0 20%;
  }
}

@media (max-width: 991px) {
  .float-md-down-inherit {
    float: inherit;
  }
}

.nav-tabs {
  .nav-link {
    color: $product-tab;

    border: 0;

    &:hover {
      border-bottom: 2px solid transparentize($active-color, .5) !important;
    }

    &.active {
      border-bottom: 2px solid $active-color !important;
    }
  }
}
