@import "variables";

.features {
  padding-top: 50px;
  
  background-color: $features-background;

  .feature {
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
    
    padding-bottom: 20px;

    text-align: center;

    @media (min-width: 544px) {
      text-align: left;
    }

    color: $features-color;

    &:not([href]):not([tabindex]) {
      color: $features-color !important;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      color: $features-hover-color;

      outline: 0;
    }

    &__icon {
      margin-bottom: 20px;

      color: $features-icon;

      @media (min-width: 544px) {
        margin-right: 20px;
      }

      @media (min-width: 768px) {
        min-width: 100px;

        text-align: center;
      }
    }

    &__title {
      font-weight: bold;
    }

    &__description {
      padding: 0 50px;

      @media (min-width: 544px) {
        padding: 0;
      }
    }
  }
}
