@import "variables";

.page-footer {
  padding: 50px 0 30px;

  border-top: 1px solid $footer-border;

  background-color: $footer-background;

  font-size: .9em;

  &__copyrights {
    margin-bottom: 20px;

    div {
      margin-bottom: 5px;
    }
  }

  &__group-header {
    margin-bottom: 20px;

    text-transform: uppercase;
    
    color: $footer-group-header;
    
    font-weight: bold;
  }

  &__group-list {
    margin-bottom: 30px;
    
    padding-left: 0;
    
    list-style: none;

    li {
      margin-bottom: 12px;
    }

    a {
      color: $footer-group-item;

      &:hover {
        text-decoration: none;

        color: $footer-group-item-hover;
      }
    }
  }

  &__social-list {
    margin-bottom: 20px;

    padding-left: 0;

    list-style: none;

    li {
      display: inline-block;

      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: $footer-social;

      &:hover {
        opacity: .8;
      }
    }
  }
}
