@import "variables";

.navbar-istari {
  border: 0;
  border-bottom: 1px solid $header-border;

  background-color: $header-background;

  &--no-border {
    @media (min-width: 992px) {
      border: 0;
    }
  }

  .navbar-toggler {
    background-image: none;
    
    border: none;
  }
}

body {
  padding-top: 70px;
}

.navbar-toggler {
  position: relative;

  width: 50px;

  &:focus {
    outline: 0;
  }
}

.tag {
  &.tag-badge {
    margin-left: 3px;

    &--button {
      position: absolute;
      top: 0;
      left: 50%;
    }
  }
}

.navbar-text {
  display: inline-block;

  padding-top: .425rem;
  padding-bottom: .425rem;
}
