.notifications {
  width: 100vw;
  max-height: 100vh;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100000000;
  padding: 0 20px 10px;

  .alert {
    border-radius: 0;
    margin-bottom: .5rem;
  }
}
