@import "variables";

.partners {
  padding: 10px 0;

  background-color: $partners-background;

  .carousel-item {
    padding: 0 70px;
  }

  .partner {
    position: relative;

    display: block;
    
    height: 150px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      
      max-width: 100%;
      max-height: 100%;

      transform: translate(-50%, -50%);
    }
  }

  .carousel-control {
    background: none !important;
  }
}
