@import "jquery.countdown";

@import "variables";

.product {
  &__cover {
    border-radius: 5px;
  }

  &__price {
    font-weight: bold;
  }

  &__preorder-counter {
    border: 0;

    background: none;

    h3 {
      font-weight: bold;
    }
  }

  &__counter {
    position: relative;
    top: -3px;

    display: inline-block;

    border: 1px solid $product-border;

    button {
      background: none;
    }

    input {
      max-width: 50px;

      text-align: center;

      border: 0;

      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        margin: 0;

        -webkit-appearance: none;
      }
    }
  }

  .review {
    font-size: 1em;

    .blockquote-footer {
      font-size: 1.1em;
    }
  }

  .characteristic {
    padding-top: .5rem;
    padding-bottom: .5rem;

    @each $i in (3, 4) {
      &:nth-child(#{$i}) {
        background-color: $product-characteristic-2;
      }
    }

    @media (min-width: 992px) {
      background-color: $product-characteristic-2;

      &__wrapper:nth-child(2n+1) > .characteristic {
        background-color: $product-characteristic-1;
      }
    }
  }
}
