@import "variables";

.category-label {
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.product-card {
  position: relative;

  display: block;

  overflow: hidden;

  text-align: center;

  border-radius: 6px;

  background: $product-card-background;

  box-shadow: 0 0 0 2px $product-card-shadow;

  &:focus,
  &:hover {
    text-decoration: none;

    outline: 0;
  }

  &__col {
    padding: 0 !important;
  }

  &__wrapper {
    padding: 15px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    transition-property: opacity;
    transition-duration: 1s;

    &--thumb {
      position: static;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__panel {
    &__name {
      margin: 10px 20px;

      color: $product-card-name;
    }

    &__price {
      padding: 5px 10px;

      color: $product-card-price;

      font-weight: bold;
    }
  }

  &__buttons {
    position: absolute;
    top: 50%;

    width: 100%;

    transform: translateY(-50%);

    text-align: center;

    &__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      overflow: hidden;

      transition: opacity 100ms ease-in-out;

      opacity: 0;

      border-radius: 6px;

      background-color: $product-card-foreground;

      &:hover {
        opacity: 1;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__button {
      display: inline-block;

      cursor: pointer;

      margin: 5px;

      padding: 16px;

      transition: background-color 200ms;

      vertical-align: top;

      border: 0;
      border-radius: 100%;

      background-color: $product-card-button;

      &[disabled] {
        opacity: .5;

        &:hover,
        &:focus {
          background-color: $product-card-button;
        }
      }

      &:hover,
      &:focus {
        outline: 0;

        background-color: $product-card-button-hover;
      }

      &--to-cart {
        color: $product-card-button-to-cart !important;

        font-weight: bold;
      }

      &--open {
        color: $product-card-button-opem !important;
      }

      &__content {
        width: 50px;
        height: 50px;

        text-align: center;
      }
    }
  }
}
