@import "variables";

.search-bar {
  background-color: $search-bar-background;

  input {
    padding-right: 0;
    padding-left: 0;

    border: 0; 

    background: none;
  }

  .btn-search {
    color: $search-bar-color;

    border-radius: 0;

    outline: none !important;

    background-color: transparent;

    @media (min-width: 992px) {
      padding-right: 0;
      padding-left: 32px;
    }
  }
}
