@import "variables";

.devise {
  background-color: $devise-background;
}

.page-header {
  display: inline-block;

  padding: 0 24px;

  background-color: $devise-background;

  font-size: 2.5em;
  font-weight: bold;

  &__wrapper {
    position: relative;

    width: 100%;

    margin: 40px 0;

    text-align: center;

    &:after {
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 0;
      left: 0;

      display: block;

      content: "";

      border: 1px solid $devise-header;
      border-right: 0;
      border-left: 0;
    }
  }
}

.box {
  margin-bottom: 100px;
  padding: 30px;

  background: $devise-box-background;

  @media (min-width: 544px) {
    border-radius: 6px;
  }

  &__header {
    margin-bottom: 30px;

    color: $devise-box-header;

    font-size: 1.7em;
    font-weight: bold;
  }

  &__reminder {
    color: $form-control-color;
  }
}

.registration-links {
  margin-top: 20px;
  margin-left: 5px;
}

.form-check {
  margin-left: 5px;
}
