.slides {
  margin-top: 50px;
  margin-bottom: 20px; 

  .carousel {
    position: relative;

    img {
      border-radius: 5px;
    }

    .carousel-indicators {
      bottom: 0;

      li {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
