$active-color: #44b9ff;

$form-control-color: #6d7a83;

$grey: #55595c;

// $grey2: #2f373d;
// $grey3: #e5e2df;
// $grey4: #202126;
// $grey5: #989b9c;
// $grey6: #abb2b9;
// $grey7: #f1eee8;

$background1: #fff;
$background2: #eee;

$partners-background: $background2;

$footer-background: $background1;
$footer-group-header: #202126;
$footer-group-item: #989b9c;
$footer-group-item-hover: $active-color;
$footer-social: #abb2b9;
$footer-border: $background2;

$header-background: $background1;
$header-border: $background2;

$features-background: #202126;
$features-color: #fff;
$features-hover-color: $active-color;
$features-icon: $active-color;

$product-card-background: $background1;
$product-card-shadow-color: #786464;
$product-card-shadow: transparentize($product-card-shadow-color, .9);
$product-card-name: #45413e;
$product-card-price: #bdc3c7;
$product-card-foreground: transparentize($active-color, .2);
$product-card-button: #fff;
$product-card-button-hover: #2c3e50;
$product-card-button-to-cart: #e74c3c;
$product-card-button-opem: #1abc9c;

$devise-background: $background2;
$devise-header: #e5e2df;
$devise-box-background: $background1;
$devise-box-header: #2f373d;

$alert-info-background: #faffbd;
$alert-danger-background: #ffbdbd;
$alert-color: #000;
$alert-border: $header-border;

$search-bar-background: $background2;
$search-bar-border: $background2;
$search-bar-color: $grey;

$product-border: $background2;
$product-tab: $grey;
$product-characteristic-1: $background1;
$product-characteristic-2: $background2;
