.m-t-1.p-x-1
  - product.characteristics.each_slice(2) do |slice|
    .row.characteristic__wrapper
      - slice.each do |name:, list:|
        .col-xs-6.col-lg-1-dot-5.characteristic= name
        .col-xs-6.col-lg-4-dot-5.characteristic
          - list.each_with_index do |c, i|
            - if c[:link].nil?
              = c[:value]
            - else
              = link_to c[:value], c[:link]
            - if i < list.size - 1
              span= ", "
      - if slice.size == 1
        .hidden-md-down.col-md-6.characteristic
