.col-xs-6.col-sm-4.col-md-4.col-lg-3.col-xl-2-dot-4.product-card__col
  .product-card__wrapper
    a.product-card(href=product_path(product))
      img.product-card__image.product-card__image--thumb(src=product.cover.thumb)
      img.product-card__image.product-card__image--full(src=product.cover onload="showProductPreview(this)")
      .product-card__panel
        .product-card__panel__name= product.title
      .product-card__buttons__wrapper
        .product-card__buttons
          button.product-card__buttons__button.product-card__buttons__button--to-cart
            .product-card__buttons__button__content
              div
                i.fa.fa-shopping-cart
                |  + 1
              = product.price
              | &#8381;
          button.product-card__buttons__button.product-card__buttons__button--open
            .product-card__buttons__button__content
              i.fa.fa-3x.fa-info
