- if user_signed_in?
  .m-y-2.p-b-1
    h3 Новый отзыв
    = form_for [product, @new_review], remote: true do |f|
      = f.cktext_area :text, cols: 40
      .row.m-t-1
        .col-sm-6.m-b-1
          = recaptcha_tags
        .col-sm-6
          = button_tag type: :submit, class: %w( btn btn-primary btn--round pull-sm-right ) do
            | Отправить
            i.fa.fa-refresh.rotate.m-l-1.hidden-xs-up

- if reviews.any?
  = render reviews
- else
  h3.text-xs-center.m-t-3.text-muted Нет отзывов
