.product.m-y-3

  .container
    h1= product.title

  .container.m-y-1
    h6
      = link_to product.category_name, product.category
      span &nbsp;/&nbsp;
      = link_to product.series_name, product.series

  .container
    .row
      .col-md-4.m-t-1
        img.product__cover.img-fluid(src=product.cover)
      .col-md-7.offset-md-1

        h1.product__price.m-t-1
          span#price= product.price
          | &#8381;

        .m-t-1
          -if product.preorder
            = render "preorders/timer", preorder: product.preorder, color: true

        .m-t-2
          .product__counter.m-r-2.m-b-1
            .input-group
              span.input-group-btn
                button.btn#counter-less -
              input.form-control(type="number" value="1")
              span.input-group-btn
                button.btn#counter-more +

          button.btn.btn-primary.btn--round
            | В корзину (
            span#cost= product.price
            | &#8381;)

        .product__description.m-t-2
          p.m-b-0= product.description

        .ya-share2.m-y-2(
          data-description=product.description
          data-image=product.cover_path
          data-title="#{product.title} - Истари Комикс"
          data-services="vkontakte,twitter")

  .container.m-y-3
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(href="#detail" data-toggle="tab") Характеристики
      li.nav-item
        a.nav-link(href="#reviews" data-toggle="tab") Отзывы

    .tab-content
      .tab-pane.fade.in.active#detail
        = render "characteristics"
      .tab-pane.fade#reviews
        = render "reviews"

  .container.m-y-3
    h2 Из этой серии
    .row
      = render products_in_series

  .container.m-y-3
    h2 С этой книгой покупают
    .row
      = render similar_products
