.col-sm-6
  a.feature.media(href=(page_path(feature.page) if feature.page))
    .media-left.feature__icon
      i.media-object.fa.fa-5x(class="fa-#{feature.icon}")
    .media-body.feature__description
      h4.media-heading.feature__title= feature.title
      p = feature.description
