@font-face {
  font-family: "Gilroy";
  src: font-url("Gilroy-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: font-url("Gilroy-ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}
