footer.page-footer
  .container
    .row.text-xs-center.text-lg-left
      .col-xs-12.col-lg-3.m-b-2
        ul.page-footer__social-list
          - social_networks.each do |sn|
            li: a(href=sn.link title=sn.name target="_blank")
                i.fa.fa-2x(class=("fa-" + sn.icon))
      .col-xs-12.col-sm-4.col-lg-2
        .page-footer__group-header Личный кабинет
        ul.page-footer__group-list
          - if user_signed_in?
            li= link_to "Выйти", destroy_user_session_path
          - else
            li= link_to "Войти", new_user_session_path
            li= link_to "Зарегистрироваться", new_user_registration_path
            li= link_to "Забыли пароль?", new_user_password_path
        .page-footer__group-header Категории
        ul.page-footer__group-list
          - categories.each do |c|
            - if c.products.any?
              li= link_to c.name, c
        ul.page-footer__group-list
      .col-xs-12.col-sm-4.col-lg-2
        .page-footer__group-header Серии
        ul.page-footer__group-list
          - series.each do |s|
            - if s.products.any?
              li= link_to s.name, s
      .col-xs-12.col-sm-4.col-lg-2
        .page-footer__group-header Истари комикс
        ul.page-footer__group-list
         - pages.each do |p|
          li= link_to p.title, p
      .col-xs-12.col-lg-3.text-lg-right
        .page-footer__copyrights
          div © 2016 Истари Комикс
