- at_cart = rand(2)

nav.navbar.navbar-light.navbar-istari.navbar-fixed-top.navbar-istari--no-border
  .container

    .row.hidden-lg-up.m-a-0
      .col-xs-12.p-a-0
        = render "layouts/brand"
        button.navbar-toggler.pull-xs-right.collapsed(
          type="button"
          data-toggle="collapse"
          data-target="#collapse-header"
          aria-controls="#collapse-header"
          aria-expanded="false")
          i.fa.fa-lg.fa-bars.hidden-when-collapsed
          i.fa.fa-lg.fa-times.visible-when-collapsed
          - unless at_cart.zero?
            .tag.tag-pill.tag-danger.tag-badge--button.hidden-when-collapsed= at_cart

    .col-xs-6.col-lg-auto.p-a-0.hidden-md-down
      = render "layouts/brand"

    .collapse.navbar-toggleable-md#collapse-header
      hr.hidden-lg-up
      ul.nav.navbar-nav
        - categories.each do |category|
          - if category.products.any?
            - path = category_path(category)
            - active = request.path == path
            li.nav-item(class=("active" if active))
              a.nav-link(href=category_path(category))= category.name
        li.nav-item(class=("active" if request.path == series_index_path))
          a.nav-link(href=series_index_path) Серии
        li.nav-item: a.nav-link#search-button(href=search_path) Поиск
      hr.hidden-lg-up
      ul.nav.navbar-nav.pull-lg-right
        - if user_signed_in? 
        / && policy(current_user).admin_access?
          li.nav-item: a.nav-link(href=rails_admin_path) Управление
        - if user_signed_in?
          li.nav-item: a.nav-link(href="#")= current_user.first_name
        - else
          li.nav-item: a.nav-link(href=new_user_session_path) Вход
          li.nav-item: a.nav-link(href=new_user_registration_path) Регистрация
        li.nav-item: a.nav-link(href="#")
          | Корзина
          - unless at_cart.zero?
            .tag.tag-pill.tag-danger.tag-badge= at_cart
