- hide_search = !current_page?(controller: "/search", action: "index")
.search-bar(class=("hidden-xs-up" if hide_search))
  .container
    = form_tag search_path, :method => 'get'
      .input-group
        = text_field_tag :q, @query,
          class: "form-control",
          autofocus: true,
          autocomplete: "off",
          placeholder: "Поиск"
        span.input-group-btn
          button.btn.btn-search(type="submit")
            i.fa.fa-lg.fa-search
