doctype html
html
  head
    title Истари Комикс
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta http-equiv="x-ua-compatible" content="ie=edge"
    script src="//cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"
    script src="/js/jquery.min.js"
    script src="/js/jquery.kladr.min.js"
    link rel="stylesheet" href="/css/jquery.kladr.min.css"
    = stylesheet_link_tag "application", media: "all"
  body
    #root
      = yield
