= content_for :head do
  = stylesheet_link_tag "devise", media: "all", "data-turbolinks-track" => true

= content_for :body do
  .container
    .row
      .col-lg-8.offset-lg-2.p-a-0
        .page-header__wrapper
          .page-header= yield :header
        .box
          .box__header= yield :subheader
          = yield
          = render "devise/shared/links"

= render template: "layouts/application"
